
*{margin:0;padding:0;}
body{margin:0;padding:0;font-size:12px;color:#000;text-align:center;font-family:SimSun;background:#FFF;}
form,ul,ul li,p,table,tbody,thead,tr{margin:0;padding:0;}
ul, ul li{list-style:none;}
a{color:#0092D2;text-decoration:none;}
a:hover{color:#fc4c0f;text-decoration:underline;}
img{border:0px;}
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }
* html>body .clearfix { display:inline-block; width:100%; }
* html .clearfix { height:1%; /* End hide from IE-mac */ } 
/* ie7 hack*/ 
*+html .clearfix { min-height:1%; } 
.clearfix{zoom:1;} 

#Container{margin:0 auto;width:1000px;height:600px;border:1px solid #CCC;}
.board{display:none;}

#Login{}
	.logo{padding:80px 0 0 0;font-size:48px;font-weight:bold;}
	.not-support{padding:80px 0;}
	.user-info{margin-top:80px;line-height:30px;font-size:14px;}
		.user-name{}
			.user-name span{font-size:24px;font-weight:bold;}
		.user-new{}
			.user-new input{padding:10px 0;width:200px;text-align:center;font-size:14px;}
	.btn-login{margin-top:60px;}
		.btn-login span{padding:15px 30px;line-height:30px;border:1px solid #CCC;background:#EEE;cursor:pointer;}
	.change_account{margin-top:50px;}

#Connecting{}
	#Connecting p{margin-top:260px;text-align:center;font-size:18px;}

#Game{text-align:left;}
	.user-bar{height:30px;line-height:30px;background:green;color:#FFF;}
		.user-bar-logo{float:left;display:inline;padding-left:20px;font-size:18px;font-weight:bold;}
		.user-bar-info{float:right;display:inline;padding-right:40px;}
			.user-bar-info span{font-size:14px;font-weight:bold;margin-right:20px;}
			.user-bar-info a{color:#FFF;}
	.panel{padding:10px 0;background:#EEE;}
		.panel-game{float:left;display:inline;width:610px;background:#FFF;}
			.panel-game-total{padding-left:20px;height:24px;line-height:24px;text-align:left;background:#EEE;}
				.panel-game-total span{float:right;display:inline;padding-right:20px;color:#FF0000;}
					.panel-game-total i{font-weight:bold;font-style:normal;padding:0 4px;}
			.game-waitting{padding:260px 0;text-align:center;}
			.gameboard{float:left;display:inline;margin:30px 0 0 20px;}
				.gameboard table{margin:0 auto;border:1px solid #CCC; border-collapse:collapse;}
				.gameboard table td{width:62px;height:62px;line-height:30px;text-align:center;border:1px solid #CCC;}
				.gameboard table.gaming td{cursor:pointer;}
				.gameboard table.gaming td.selected{border:1px solid red;}
				.gameboard table.gaming td.mrange{border:1px solid blue;}
				.gameboard table.gaming td img{width:62px;height:62px;}
			.game-actions{float:left;display:inline;}
				.competitors{margin-top:40px;}
					.competitors .c{padding:20px 0 0 20px;width:160px;height:70px;text-align:left;border:1px solid #CCC;border-left:none;}
						.competitors .c p .L{color:blue;}
						.competitors .c p .R{color:#FF0000;}
					.c-d{}
					.c-self{margin-top:90px;}
				.game-opeartion{margin-top:40px;text-align:center;}
					.game-opeartion a{margin:0 10px;padding:6px 20px;border:1px solid #CCC;background:#EEE;display:none;}
			.game-chat{margin:30px 0 12px 0;padding-left:20px;text-align:left;}
				.game-chat-box{padding:2px 5px;border:1px solid #CCC;width:560px;height:50px;overflow-y:scroll;}
					.game-chat-box p{line-height:20px;}
					.game-chat-box p span{padding:0 4px;font-weight:bold;}
				.game-chat-input{margin-top:7px;width:520px;border:1px solid #CCC;font-size:12px;padding:4px 4px;}
				.game-chat-submit{padding:3px 9px;border:1px solid #CCC;background:#EEE;}
		.panel-msgs{float:right;display:inline;padding-right:10px;width:370px;}
			.game-list{}
			.game-msgs{margin-top:10px;}
			.list-con{padding:7px 0;overflow-y:scroll;background:#FFF;border-radius:2px;}
			.panel-nav{height:24px;border-bottom:1px solid #EEE;padding-left:14px;}
			.panel-nav li{float:left;display:inline;margin:0 7px 0 0px;padding:6px 10px;line-height:11px;height:11px;border:solid 1px #CFD5D9;border-radius:4px 4px 0 0;background:#DDD;cursor:pointer;}
			.panel-nav li.cur{padding-bottom:7px;background:#FFF;border-bottom:none;}
			.game-list-con{height:266px;}
			.game-list-tb{width:100%;border-collapse:collapse;}
				.game-list-tb th{font-size:12px;font-weight:bold;border:1px solid #EEE;height:22px;line-height:22px;background:#FAFAFA;color:#666;}
				.game-list-tb td{height:22px;line-height:22px;font-size:12px;font-weight:normal;border:1px solid #EEE;text-align:center;}
				.game-list-tb td.a{width:40%;color:#0092D2;}
				.game-list-tb td.b{width:20%;}
				.game-list-tb td.c{width:40%;color:#0092D2;}
				.game-list-tb td.d{}
			.game-msgs-con{height:196px;padding:7px 18px;}
				.game-msgs-con p{line-height:20px;color:#666;}
				.game-msgs-con p span{padding:0 4px;font-weight:bold;color:#0092D2;}
				
				
