
*{margin:0;padding:0;}
body{margin:0;padding:0;font-size:12px;color:#FFF;text-align:center;font-family:SimSun;background:url(/images/bg.jpg);}
form,ul,ul li,p,table,tbody,thead,tr{margin:0;padding:0;}
ul, ul li{list-style:none;}
a{color:#0092D2;text-decoration:none;}
a:hover{color:#fc4c0f;text-decoration:underline;}
img{border:0px;}
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }
* html>body .clearfix { display:inline-block; width:100%; }
* html .clearfix { height:1%; /* End hide from IE-mac */ } 
/* ie7 hack*/ 
*+html .clearfix { min-height:1%; } 
.clearfix{zoom:1;} 

#wapper{width:1000px;margin:0 auto;text-align: left;}
header{height:60px;}
h1{float:left;padding:20px 0 0 40px;font-size:18px;font-weight:bold;}
.info{float:right;margin:40px 80px 0 0;}
.main{float:left;width:720px;height:700px;border:1px solid #CCC;position:relative;overflow:hidden;}
.desks{width:720px;position:absolute;left:0px;top:0;}
	.desks li{float:left;width:240px;padding:20px 0;}
	.desks li div{float:left;margin:20px 0px;width:72px;text-align:center;}
	.desks li div.L{}
	.desks li div.R{}
	.desks li i{margin:0 auto;border:1px solid #EEE;width:36px;height:36px;display: block;cursor:pointer;}
	.desks li p{height:22px;line-height:22px;width:72px;white-space:nowrap;overflow:hidden;}
	.desks li span{float: left;border: 1px solid #444;width:80px;height:50px;padding-top:30px;text-align:center;display: block;}
.board{position:absolute;top:0;left:720px;padding-top:58px;}
	.turn{float:left;width:128px;margin-left:10px;}
		.turn li{padding:20px 0;height:198px;text-align:center;}
		.turn li h4{font-size:18px;}
		.turn li p{height:60px;line-height:60px;font-size:16px;}
	.game{float:left;width:480px;}
		.gameTB{border-top:1px solid #CCC;border-right:1px solid #CCC;border-collapse:collapse;}
		.gameTB td{display:block;margin:0;padding:0;width:80px;height:80px;border-left:1px solid #CCC;border-bottom:1px solid #CCC;}
	.gameInfo{clear:left;padding-top:56px;}
		.selected{float:left;margin-left:68px;width:80px;height:80px;border:1px solid #CCC;}
		.op{float:left;padding:20px 0 0 198px;}
			.op li{float:left;}
			.op li button{width:90px;margin:0 8px;padding:8px 0;}
.side{float:right;width:260px;}
	.uInfo{margin-bottom:10px;height:200px;border:1px solid #CCC;}
		.uInfo ul{float:left;width:178px;padding: 8px 0 8px 10px;}
		.uInfo ul li{height:22px;line-height:22px;}
		.uInfo ul li label{float:left;width:68px;display:block;font-weight:bold;text-align:right;padding-right:8px;}
		.uInfo p{clear:left;height:30px;line-height:30px;padding-left:20px;font-size:18px;color:#FF0000;}
		.uInfo .status{float:left;padding-top:32px;width:50px;font-size:18px;color:#0092D2;}
	.users{margin-bottom:10px;height:200px;border:1px solid #CCC;}
		.userList{margin:4px 5px;padding:2px 4px;height:192px;width:250px;line-height:18px;}
	.debug{margin-bottom:10px;height:200px;border:1px solid #CCC;}
		.debugInfo{margin:4px 5px;padding:2px 4px;height:192px;width:250px;line-height:18px;}
	.chat{height:204px;border:1px solid #CCC;}
		.chatList{margin:4px 5px;padding:2px 4px;height:168px;width:250px;line-height:18px;}
		.chatForm{height:30px;line-height:30px;}
		.iInput{float:left;margin-left:6px;border:1px solid #EEE;font-size:12px;padding:0 2px;width:186px;height:22px;line-height:22px;}
		.btnInput{float:left;margin-left:5px;border:1px solid #EEE;font-size:12px;padding:3px;width:58px;cursor:pointer;}
footer{margin-top:20px;padding:20px;border-top:1px solid #CCC;}